name: Release workflow

on:
  release:
    types: [published]

jobs:
  build-release:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-20.04, windows-latest, macos-latest]
    env:
      pact_do_not_track: true
    steps:
      - uses: actions/checkout@v3
      - name: Install stable Rust toolchain
        if: runner.os == 'Linux'
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: aarch64-unknown-linux-gnu,x86_64-unknown-linux-musl
      - name: Install stable Rust toolchain
        if: runner.os == 'Windows'
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: aarch64-pc-windows-msvc,x86_64-pc-windows-msvc
      - name: Install stable Rust toolchain
        if: runner.os == 'MacOS'
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: aarch64-apple-darwin,x86_64-apple-darwin

      - if: startsWith(github.ref, 'refs/tags/pact_mock_server_cli') && runner.os == 'Linux'
        run: ./release-linux.sh
        working-directory: rust/pact_mock_server_cli
      - if: startsWith(github.ref, 'refs/tags/pact_mock_server_cli') && runner.os == 'Windows'
        run: ./release-win.sh
        shell: bash
        working-directory: rust/pact_mock_server_cli
      - if: startsWith(github.ref, 'refs/tags/pact_mock_server_cli') && runner.os == 'macOS'
        run: ./release-osx.sh
        shell: bash
        working-directory: rust/pact_mock_server_cli
      - if: startsWith(github.ref, 'refs/tags/pact_verifier_cli') && runner.os == 'Linux'
        run: ./release-linux.sh
        working-directory: rust/pact_verifier_cli
      - if: startsWith(github.ref, 'refs/tags/pact_verifier_cli') && runner.os == 'Windows'
        run: ./release-win.sh
        shell: bash
        working-directory: rust/pact_verifier_cli
      - if: startsWith(github.ref, 'refs/tags/pact_verifier_cli') && runner.os == 'macOS'
        run: ./release-osx.sh
        shell: bash
        working-directory: rust/pact_verifier_cli
      - if: startsWith(github.ref, 'refs/tags/libpact_ffi') && runner.os == 'Linux'
        run: ./release-linux.sh
        working-directory: rust/pact_ffi
      - if: startsWith(github.ref, 'refs/tags/libpact_ffi') && runner.os == 'Windows'
        run: ./release-win.sh
        shell: bash
        working-directory: rust/pact_ffi
      - if: startsWith(github.ref, 'refs/tags/libpact_ffi') && runner.os == 'macOS'
        run: ./release-osx.sh
        shell: bash
        working-directory: rust/pact_ffi
      - name: Upload the artifacts
        uses: actions/upload-artifact@v3.1.2
        with:
          name: release-artifacts
          path: rust/target/artifacts
      - name: Upload Release Assets
        id: upload-release-asset
        uses: svenstaro/upload-release-action@v2.5.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: rust/target/artifacts/*
          file_glob: true
          tag: ${{ github.ref }}
